<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="Travel_Nepal_2.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Travel Nepal</title>

    <script src="Scripts/bootstrap.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"/>
        </div>
    </form>
</body>
</html>
